API_ID=19099900 # get this value from my.telegram.org
API_HASH=2b445de78e5baf012a0793e60bd4fbf5 # get this value from my.telegram.org
BOT_TOKEN=1263725637:ghsdvkhsvchsuhdc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://sonu55:sonu55@cluster0.vqztrvk.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001879681224 # get this value from in your log group 
MUSIC_BOT_NAME=Killer Bee # your music bot name 
STRING_SESSION=BQB9xtKA3p6aHvHngYSDT_vxaNpifOf5JrpYUxgZPWpEdZKvg7LSzyGXomQtP4CP20MOnhXA5-gcig-jJb9VvFT_T6TPyUlodejtfB2cUeYSlwL4lx8yrEcGRYgwg618egNZmVZ-Koj_oYVzgMZr_QQFzvOiqWhVQdmTFYPJ937U_ZRcud3VrEkLP2iKdmKhAaqLEJwgL9_Nauomw0aMKyWvAOfPc4L4Feeg0cuOWzYRd8lGAWTb3L3ufZW6-12-BaIouGbsoZaYT2zFABMUOOgaonInYY-Z31CVvpcouF7iqYeMZ3IoOtOXd7auF0IXXzloxTQoY2IgF-q7RDcQaGfhAAAAAWVYVzQA # get this value from @yukkistringbot
